<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
         <h1>Orders</h1>
         <% if(orders.length < 1) { %>
         <p>There are some products in your cart: 
         </p>
         <% } else { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1># <%= order._id %></h1>
                        <ul>
                            <% order.items.forEach(product => { %>
                            <li><%= product.title %> (<%= product.quantity %>)</li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
            <% } %>
        </div> 
    </main>
    <%- include('../includes/end.ejs') %>